@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ALL OUT LOUD MUSIC STORE- One Stop shop for every musician</h1>
</div>

<div class="row">
    <div class="col-md-3">

        <a href="/Products/Details/5">
            <img src="/Content/ProductImages/Thumbnails/Alesis Drums Nitro Mesh Kit  Eight Piece All-Mesh Electronic Drum Kit Image 1.JPG">
        </a>
        <p>
            <a class="large-bold-text" href="/Products/Details/5">Alesis Drums Nitro Mesh Kit Eight Piece All Mesh Electronic Drum Kit</a>
        </p>
    </div>
    <div class="col-md-3">
        <a href="/Products/Details/7">
            <img src="/Content/ProductImages/Thumbnails/Ernie Ball Music Man John Petrucci Majesty Monarchy - Black Knight.JPG">
        </a>
        <p>
            <a class="large-bold-text" href="/Products/Details/7">Ernie Ball Music Man John Petrucci Majesty Monarchy Black Knight</a>
        </p>
    </div>
    <div class="col-md-3">
        <a href="/Products/Details/22">
            <img src="/Content/ProductImages/Thumbnails/Yamaha YPG-235 76-Key Portable Grand Piano.JPG">
        </a>
        <p>
            <a class="large-bold-text" href="/Products/Details/22">Yamaha YPG-235 76-Key Portable Grand Piano</a>
        </p>
    </div>
    <div class="col-md-3">
        <a href="/Products/Details/3">
            <img src="/Content/ProductImages/Thumbnails/Epiphone DR-100.JPG">
        </a>
        <p>
            <a class="large-bold-text" href="/Products/Details/3">Epiphone DR-100</a>
        </p>
    </div>
    <div class="col-md-3">
        <a href="/Products/Details/16">
            <img src="/Content/ProductImages/Thumbnails/Tama Superstar Hyper-Drive Duo 5-piece Shell Pack - Flat Black Vertical Stripe.JPG">
        </a>
        <p>
            <a class="large-bold-text" href="/Products/Details/16">Epiphone DR-100</a>
        </p>
    </div>
    <div class="col-md-3">
        <a href="/Products/Details/17">
            <img src="/Content/ProductImages/Thumbnails/LUDWIG LC179XO16 - KIT BREAKBEATS QUESTLOVE BLACK SPARKLE Drumsets Jazz drumkit.JPG">
        </a>
        <p>
            <a class="large-bold-text" href="/Products/Details/17">Epiphone DR-100</a>
        </p>
    </div>
    <div class="col-md-3">
        <a href="/Products/Details/19">
            <img src="/Content/ProductImages/Thumbnails/Denon DJ MCX8000 Standalone DJ Player and Serato 4-Channel DJ Controller.JPG">
        </a>
        <p>
            <a class="large-bold-text" href="/Products/Details/19">Denon DJ MCX8000 Standalone DJ Player and Serato 4-Channel DJ Controller</a>
        </p>
    </div>
    <div class="col-md-3">
        <a href="/Products/Details/21">
            <img src="/Content/ProductImages/Thumbnails/NumarkImage 1.JPG">
        </a>
        <p>
            <a class="large-bold-text" href="/Products/Details/21">Numark Mixtrack Platinum 4 channel DJ Controller With 4 deck Layering and Hi Res Display for Serato DJ</a>
        </p>
    </div>
</div>
<div class="jumbotron">
    <p>
        @Html.ActionLink("Shop Now", "Index", "Products", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>


